:root, .light, .light-theme {
    --blue-1: #f4f4f5;
    --blue-2: #eff0f4;
    --blue-3: #e5e9f1;
    --blue-4: #d8dff0;
    --blue-5: #cad4ed;
    --blue-6: #bac6e7;
    --blue-7: #a4b4db;
    --blue-8: #889bcd;
    --blue-9: #3a4f92;
    --blue-10: #2c3f81;
    --blue-11: #41579b;
    --blue-12: #242f50;
  
    --blue-a1: #f54f2606;
    --blue-a2: #67165009;
    --blue-a3: #05096b10;
    --blue-a4: #0724a51e;
    --blue-a5: #0128af2c;
    --blue-a6: #0227ab3d;
    --blue-a7: #012a9c54;
    --blue-a8: #01279571;
    --blue-a9: #011b72c3;
    --blue-a10: #011767d2;
    --blue-a11: #021e79bc;
    --blue-a12: #010d34da;
  
    --blue-contrast: #fff;
    --blue-surface: #eeeef3cc;
    --blue-indicator: #3a4f92;
    --blue-track: #3a4f92;
  }
  
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root, .light, .light-theme {
        --blue-1: oklch(96.8% 0.0013 268.5);
        --blue-2: oklch(95.6% 0.0056 268.5);
        --blue-3: oklch(93.2% 0.0118 268.5);
        --blue-4: oklch(90.4% 0.0239 268.5);
        --blue-5: oklch(87.1% 0.0357 268.5);
        --blue-6: oklch(82.9% 0.0482 268.5);
        --blue-7: oklch(77% 0.0592 268.5);
        --blue-8: oklch(69.2% 0.0776 268.5);
        --blue-9: oklch(44.6% 0.1127 268.5);
        --blue-10: oklch(39.1% 0.1127 268.5);
        --blue-11: oklch(47.3% 0.1127 268.5);
        --blue-12: oklch(31.3% 0.0609 268.5);
  
        --blue-a1: color(display-p3 0.7686 0.1922 0 / 0.02);
        --blue-a2: color(display-p3 0.251 0.0235 0.2706 / 0.033);
        --blue-a3: color(display-p3 0.0157 0.0275 0.3451 / 0.062);
        --blue-a4: color(display-p3 0.0078 0.1216 0.5725 / 0.115);
        --blue-a5: color(display-p3 0.0039 0.1333 0.6314 / 0.168);
        --blue-a6: color(display-p3 0.0039 0.1333 0.6118 / 0.233);
        --blue-a7: color(display-p3 0.0039 0.1255 0.5647 / 0.319);
        --blue-a8: color(display-p3 0.0039 0.1137 0.5333 / 0.429);
        --blue-a9: color(display-p3 0 0.0784 0.4118 / 0.747);
        --blue-a10: color(display-p3 0 0.0667 0.3725 / 0.805);
        --blue-a11: color(display-p3 0 0.0824 0.4353 / 0.715);
        --blue-a12: color(display-p3 0 0.0431 0.1804 / 0.845);
  
        --blue-contrast: #fff;
        --blue-surface: color(display-p3 0.9333 0.9333 0.9529 / 0.8);
        --blue-indicator: oklch(44.6% 0.1127 268.5);
        --blue-track: oklch(44.6% 0.1127 268.5);
      }
    }
  }

  :root, .light, .light-theme {
    --gray-1: #f3f4f6;
    --gray-2: #eff0f4;
    --gray-3: #e5e6ed;
    --gray-4: #dcdee6;
    --gray-5: #d4d5e1;
    --gray-6: #cbcdda;
    --gray-7: #c0c2d2;
    --gray-8: #abaec3;
    --gray-9: #7e8195;
    --gray-10: #747789;
    --gray-11: #575968;
    --gray-12: #1e1f2a;
  
    --gray-a1: #c12d2f05;
    --gray-a2: #67165009;
    --gray-a3: #2b064c13;
    --gray-a4: #12033d1b;
    --gray-a5: #11014924;
    --gray-a6: #0c05452d;
    --gray-a7: #08024438;
    --gray-a8: #0303434d;
    --gray-a9: #02042b7c;
    --gray-a10: #00022386;
    --gray-a11: #020219a5;
    --gray-a12: #00010ee0;
  
    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #7e8195;
    --gray-track: #7e8195;
  }
  
  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root, .light, .light-theme {
        --gray-1: oklch(96.7% 0.0028 278.8);
        --gray-2: oklch(95.6% 0.005 278.8);
        --gray-3: oklch(92.6% 0.0091 278.8);
        --gray-4: oklch(90.1% 0.012 278.8);
        --gray-5: oklch(87.6% 0.0155 278.8);
        --gray-6: oklch(85.1% 0.0178 278.8);
        --gray-7: oklch(81.7% 0.0219 278.8);
        --gray-8: oklch(75.6% 0.0296 278.8);
        --gray-9: oklch(60.7% 0.0299 278.8);
        --gray-10: oklch(57.2% 0.0284 278.8);
        --gray-11: oklch(46.8% 0.0245 278.8);
        --gray-12: oklch(24.5% 0.0206 278.8);
  
        --gray-a1: color(display-p3 0.502 0.051 0.0588 / 0.017);
        --gray-a2: color(display-p3 0.251 0.0235 0.2706 / 0.033);
        --gray-a3: color(display-p3 0.102 0.0078 0.2314 / 0.073);
        --gray-a4: color(display-p3 0.0275 0.0039 0.1961 / 0.105);
        --gray-a5: color(display-p3 0.051 0.0078 0.2588 / 0.142);
        --gray-a6: color(display-p3 0.0157 0.0039 0.2353 / 0.174);
        --gray-a7: color(display-p3 0.0078 0.0039 0.2392 / 0.218);
        --gray-a8: color(display-p3 0.0039 0.0039 0.2353 / 0.299);
        --gray-a9: color(display-p3 0.0039 0.0078 0.1412 / 0.482);
        --gray-a10: color(display-p3 0 0.0078 0.1216 / 0.523);
        --gray-a11: color(display-p3 0 0.0078 0.0863 / 0.645);
        --gray-a12: color(display-p3 0 0.0039 0.0431 / 0.878);
  
        --gray-contrast: #FFFFFF;
        --gray-surface: color(display-p3 1 1 1 / 80%);
        --gray-indicator: oklch(60.7% 0.0299 278.8);
        --gray-track: oklch(60.7% 0.0299 278.8);
      }
    }
  }

  :root, .light, .light-theme, .radix-themes {
    --color-background: #f4f8fa;
  }